
*~
_site/*
.jekyll-metadata
tweets/
tweets/*
get_tweets.py
pelosi_tweets.csv
pelosi_tweets.tsv
pelosi_tweets.txt
trump_tweets.tsv
.DS_Store
slides/~$class-intro.pptx
slides/~$taxonomy-of-human-computation.pptx
