
*~
_site/*
.jekyll-metadata
tweets/
tweets/*
get_tweets.py
pelosi_tweets.csv
pelosi_tweets.tsv
pelosi_tweets.txt
trump_tweets.tsv
.DS_Store
slides/~$class-intro.pptx
slides/~$taxonomy-of-human-computation.pptx
slides/~$data-driven-analysis-of-workers-earnings-on-mturk.pdf.pptx
slides/~$computer-vision.pptx
.DS_Store
.DS_Store
